.page-shop #sopuo-mainbody{
    padding-bottom: 30px;
    width: 100%;
    margin: 0px auto;
}
.page-shop #sopuo-mainbody .item-list{
    width: 100%;
    margin: 0px auto;
}
.page-shop #sopuo-mainbody .item-list .all-products {
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.page-shop #sopuo-mainbody .item-list .all-products li{ display:inline-block; float:left; margin:0 0 28px 21px; width:257px;overflow:hidden; border:1px solid #cccccc; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; border-radius:5px;}
.page-shop #sopuo-mainbody .item-list .all-products li:hover{ -webkit-box-shadow:0 0 10px #aaa; -moz-box-shadow:0 0 10px #aaa; -ms-box-shadow:0 0 10px #aaa; box-shadow:0 0 10px #aaa;}
.jfgoods-img{ width:257px; height:220px; overflow:hidden;}
.jfgoods-img img{ display:block; width:257px; height:220px;}
.jfgoods-xinxi{ padding:5px 25px 22px 17px; background:#f8f8f8;}
.jfgoods-name{ height:24px; line-height:24px; font-size:14px; color:#666666; font-weight:bold; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.jfgoods-line{ display:inline-block; margin:10px 0; width:100%; height:8px; background:#e68f90; overflow:hidden; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; border-radius:4px;}
.jfgoods-p{ height:40px;}
.jfgoods-p h6{ float:left; display:inline-block; text-align: left;}
.jfgoods-p h6.jfgoods-w1{ width:100px; margin: 0px auto;padding-left: 10px;border-right:1px solid #c4c4c4;}
.jfgoods-p h6.jfgoods-w2{ width:70px; padding-left:12px;}
.jfgoods-p h6.jfgoods-w3{ width:80px; margin: 0px auto;padding-left: 30px;}
.jfgoods-p h6.jfgoods-w3 a{color: #ffffff;}
.jfgoods-p h6 p{ height:20px; line-height:20px; font-size:14px; color:#666666;margin: 0px;}
.jfgoods-p h6 p.jfgoods-pcol1{color:#fc6a40; font-weight:bold;}
.jfgoods-btn{ display:inline-block; margin-top:5px; width:70px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#ffffff; background:#ff6725; overflow:hidden;}

.sopuo-shop-view{ 
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.Xcontent{
        width: 740px;
        height: 100%;
        padding-bottom: 30px;
	margin: 0px auto;
}
.Xcontent01{
	width: 100%;
        height: auto;
	margin: 0px auto;
	overflow: hidden;
}
.Xcontent02>a>p{
	font-family: Microsoft Yahei;
	font-size: 14px;
	color: #595959;
	margin-top: 30px;
	float: left;
}
.Xcontent02>a>p:hover{
	color: #cd2426;
}
.Xcontent03>p{
	font-family: Microsoft Yahei;
	font-size: 12px;
	color: #595959;
	margin-top: 32px;
	float: left;
	margin-left: 2px;
	cursor: pointer;
}
.Xcontent04>p{
	font-family: Microsoft Yahei;
	font-size: 12px;
	color: #595959;
	margin-top: 33px;
	float: left;
	margin-left: 2px;
	cursor: pointer;
}
.Xcontent05{
	width: 1198px;
	height: 484px;
	border: 1px solid #a4a4a4;
	margin-top: 70px;
}
.Xcontent06{
	width:350px;
        height: 350px;
	border: 1px solid #e8e8e8;
	margin-top: 26px;
	float: left;
}
.Xcontent06 img{
       clear: both;
	width:348px;
        height: 348px;
}
.Xcontent08{
	float: left;
	width: 78px;
        padding-left: 10px;
	margin-top: 20px;
}
.Xcontent07{
	width: 76px;
	height: 76px;
	border: 1px solid #e8e8e8;
}
.Xcontent07>img{
	width: 100%;
	height: 100%;
}
.Xcontent09{
	width: 76px;
	height: 76px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}
.Xcontent09>img{
	width: 100%;
	height: 100%;
}
.Xcontent10{
	width: 65px;
        height: 65px;
	margin-top: 13px;
	border: 1px solid #e8e8e8;
}
.Xcontent10>img{
	width: 100%;
	height: 100%;
}
.Xcontent11{
	width: 76px;
	height: 76px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}
.Xcontent11>img{
	width: 100%;
	height: 100%;
}
.Xcontent12{
	width: 76px;
	height: 76px;
	border: 1px solid #e8e8e8;
	margin-top: 10px;
}
.Xcontent12>img{
	width: 100%;
	height: 100%;
}
.Xcontent13{
	width: 390px;
        padding-left: 10px;
        height: auto;
	float: right;
}
.Xcontent14{
	font-family:  Microsoft Yahei;
	font-size: 16px;
	color: #333;
        margin-top: 26px;
        margin-bottom: 20px;
	float: left;
}
.Xcontent14>a>p{
	font-family:  Microsoft Yahei;
	font-size: 24px;
	color: #333;margin-top: 26px;
	float: left;
}
.Xcontent15>img{
	float: left;
	margin-top: 32px;
	margin-left: 10px;
}
.Xcontent16>p{
	font-family: Microsoft Yahei;
	font-size: 12px;
	color: #9f9f9f;
	margin-top: 65px;
}
.Xcontent17{
	width: 100%;
	height: 90px;
        padding-top: 20px;
	background: #f5f3ef;
	overflow: hidden;
}
.Xcontent18{
	font-family: Microsoft Yahei;
	font-size: 12px;
	color: #666a6e;
	margin-top: 20px;
	margin-left: 16px;
	float: left;
}
.Xcontent19{
	font-family: Microsoft Yahei;
        font-weight:bold;
	float: left;
	color: #d7282d;
	margin-left: 26px;
	margin-top: 4px;
}
.Xcontent19>span{
	font-family: Microsoft Yahei;
	font-size: 28px;
	color: #cd2426;
	
}
.Xcontent20{
	height: 20px;
	width: 90%;
        margin: 0px auto;
}
.Xcontent21{
	font-family: Microsoft Yahei;
	font-size: 12px;
	color: #666a6e;
	margin-left: 10px;
	line-height: 20px;
	float: left;
}
.Xcontent20>img{
	float: left;
	margin-top: 1px;
	margin-left: 28px;
}
.Xcontent22{
	font-family: Microsoft Yahei;
	font-size: 12px;
	line-height: 20px;
	color: #cd2426;
	margin-left: 10px;
	float: left;
}
.Xcontent23{
	height: 20px;
	width: 502px;
	margin-top: 11px;
}
.Xcontent24{
	font-family: Microsoft Yahei;
	font-size: 12px;
	color: #666a6e;
	margin-left: 16px;
	line-height: 20px;
	float: left;
}
.Xcontent25{
	font-family:  Microsoft Yahei;
	font-size: 12px;
	color: #6e7372;
	margin-left: 28px;
	float: left;
	line-height: 20px;
}

.Xcontent27{
	font-family: Microsoft Yahei;
	font-size: 14px;
	color: #605f5f;
	margin-top: 34px;
	margin-left: 16px;
	float: left;
}
.Xcontent28{
	border: 1px solid #e8e8e8;
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 16px;
	margin-left: 30px;
}
.Xcontent28>img{
 width: 100%;
	height: 100%;

	
}
.Xcontent29>img{
	width: 100%;
	height: 100%;
	
}
.Xcontent29{
	float: left;
	margin-top: 16px;
   margin-left: 20px;	
	border: 1px solid #e8e8e8;
	width: 50px;
	height: 50px;
}
.Xcontent30{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.Xcontent30 .Xmsdh{
    position: absolute;
    width: 100%;
    padding-left:18px;
    padding-top: 80px;
}
.Xcontent30 .Xmsdh button{
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align:center;
    background-color: #ff6725;
    color: #ffffff;
}
.Xcontent31{
	font-family: Microsoft Yahei;
	font-size: 14px;
	color: #605f5f;
	line-height: 80px;
	margin-left: 16px;
	float: left;
}
.Xcontent32{
	float: left;
	margin-top: 34px;
	margin-left: 30px;
}
	
.input{
    z-index: 999;
	height: 30px;
	width: 60px;
	margin-top: 26px;
	border: 1px solid #dddddd;
	line-height: 30px;
	text-align: center;
	float: left;
        position: relative;
}
.Xcontent33>img{
	float: left;
	margin-top: 34px;
}
.Xagain{
	width: 1198px;
	height: 334px;
	margin: auto;
	border: 1px solid #e1e1e1;
	margin-top: 10px;
}
.Xagain01{
	width: 1198px;
	height: 42px;
	background: #f5f5f5;
}
.Xagain01>p{
	font-family: Microsoft Yahei;
	font-size: 18px;
	color: #686868;
	line-height: 42px;
	margin-left: 20px;
}
.Xcontent34{
	margin-left: 16px;
	float: left;
	
}
.Xcontent35{
	float: left;
	margin-left: 20px;
}

#shop_list{ clear: both; padding-top: 20px; text-align: center}
#shop_list a{ margin-left: 10px;}